@import "tailwindcss";
@import "tw-animate-css";

@import "@fontsource-variable/open-sans";
@import "@fontsource-variable/roboto-mono";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Open Sans Variable", sans-serif;
  --font-mono: "Roboto Mono Variable", monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.985 0.002 247.839);
  --foreground: oklch(0.2229 0.0453 234.0202);
  --card: oklch(0.995 0.001 247.839);
  --card-foreground: oklch(0.2229 0.0453 234.0202);
  --popover: oklch(0.985 0.002 247.839);
  --popover-foreground: oklch(0.2229 0.0453 234.0202);
  --primary: oklch(0.6691 0.0749 141.7276);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.6691 0.0749 141.7276);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.9263 0.0083 142.0818);
  --muted-foreground: oklch(0.5132 0.0198 229.3153);
  --accent: oklch(0.8428 0.009 247.9335);
  --accent-foreground: oklch(0.2229 0.0453 234.0202);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.8889 0.0126 142.0639);
  --input: oklch(0.8889 0.0126 142.0639);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.6691 0.0749 141.7276);
  --chart-2: oklch(0.6309 0.1013 183.4907);
  --chart-3: oklch(0.3787 0.044 225.5393);
  --chart-4: oklch(0.8336 0.1186 88.1463);
  --chart-5: oklch(0.7834 0.1261 58.7491);
  --sidebar: oklch(0.97 0.002 247.839);
  --sidebar-foreground: oklch(0.2229 0.0453 234.0202);
  --sidebar-primary: oklch(0.6691 0.0749 141.7276);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.8428 0.009 247.9335);
  --sidebar-accent-foreground: oklch(0.2229 0.0453 234.0202);
  --sidebar-border: oklch(0.9263 0.0083 142.0818);
  --sidebar-ring: oklch(0.708 0 0);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 4px 10px -2px hsl(0 0 0 / 0.05);
  --shadow-xs: 0 4px 10px -2px hsl(0 0 0 / 0.05);
  --shadow-sm:
    0 4px 10px -2px hsl(0 0 0 / 0.1), 0 1px 2px -3px hsl(0 0 0 / 0.1);
  --shadow: 0 4px 10px -2px hsl(0 0 0 / 0.1), 0 1px 2px -3px hsl(0 0 0 / 0.1);
  --shadow-md:
    0 4px 10px -2px hsl(0 0 0 / 0.1), 0 2px 4px -3px hsl(0 0 0 / 0.1);
  --shadow-lg:
    0 4px 10px -2px hsl(0 0 0 / 0.1), 0 4px 6px -3px hsl(0 0 0 / 0.1);
  --shadow-xl:
    0 4px 10px -2px hsl(0 0 0 / 0.1), 0 8px 10px -3px hsl(0 0 0 / 0.1);
  --shadow-2xl: 0 4px 10px -2px hsl(0 0 0 / 0.25);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
